<main class="login-background">
    <div class="gradient">&nbsp;</div>
    <section>
        <div class="logo-container">
            <h2 style="color: white">Insert Logo Here</h2>
        </div>
    </section>
    <section>
        <div class="card">
            <div class="card-body">
                <div class="card-header text-center mb-3">
                    <h2 class="card-title">Login</h2>
                    <p class="card-text">Fill in your log in details below.</p>
                </div>
                <form action="" class="form-container p-3">
                    <div class="form-group mb-3">
                        <input type="text" class="form-control" placeholder="Your username">
                    </div>
                    <div class="form-group mb-3">
                        <input type="password" class="form-control" placeholder="Your password">
                    </div>
                    <div class="btn-container mb-3">
                        <button class="btn btn-primary w-100">Login</button>
                    </div>
                    <div class="text-center">
                        <p>Don't have an account? <a [routerLink]="'/register'">Sign up</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section>
        <div class="forgot-pass-container mt-4">
            <a href="#">Forgot your password?</a>
        </div>
    </section>
</main>