<main class="register-background">
    <div class="gradient">&nbsp;</div>
    <section>
        <div class="logo-container">
            <h2 style="color: white">Insert Logo Here</h2>
        </div>
    </section>
    <section>
        <div class="card">
            <div class="card-body">
                <div class="card-header text-center mb-2">
                    <h2 class="card-title">Register</h2>
                </div>
                <form action="" class="form-container p-3">
                    <div class="form-group mb-3">
                        <input type="text" class="form-control" placeholder="Your username">
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control" placeholder="Your full name">
                    </div>
                    <div class="form-group mb-3">
                        <input type="password" class="form-control" placeholder="Your password">
                    </div>
                    <div class="btn-container mb-3">
                        <button class="btn btn-primary w-100">Register</button>
                    </div>
                    <div class="text-center">
                        <p>Already have an account? <a [routerLink]="'/login'">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>